<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Traductor</title>
</head>
<body>
<!--
    <h1>Traductor de Texto</h1>
    <form class="form" method="post" action="{{ url_for('traducir') }}">
        <textarea name="texto" placeholder="Introduce el texto a traducir"></textarea>
        <label for="idioma">Selecciona el idioma a traducir:</label>
        <select name="idioma" id="idioma">
            <option value="es">Español</option>
            <option value="en">Inglés</option>
            <option value="fr">Francés</option>
            <option value="de">Alemán</option>
        </select>
        <button type="submit">Traducir</button>
    </form>
    {% if resultado %}
        <div id="resultado">
            <p>Resultado:</p>
            <p>{{ resultado }}</p>
        </div>
    {% endif %}
-->
    <h1>Traductor de Texto</h1>
    <form method="POST" action="/traducir" enctype="multipart/form-data">
        <input type="file" name="archivo">
        <input type="text" name="idioma" placeholder="Ingresa el código del idioma destino">
        <input type="submit" value="Traducir">
    </form>
    {% if resultado %}
        <h2>Resultado:</h2>
        <p><a href="{{ url_for('static', filename=resultado) }}">Descargar archivo traducido</a></p>
    {% endif %}

</body>
</html>
