{% extends "layout.html" %}

{% block main %}

    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">TRANSLATE TEXT</h5>
            <p class="card-text">Just translate the text you want!</p>
            <a href="/traducirtxt" class="btn btn-primary">Go</a>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">TRANSLATE .SRT FILES</h5>
            <p class="card-text">Translate your .srt files to any language you want!</p>
            <a href="/traducir" class="btn btn-primary">Go</a>
            </div>
        </div>
        </div>
    </div>

{% endblock %}
