{% extends "layout.html" %}

{% block main %}
    <div>
        <h1>Bienvenidos a TranslateSRT!</h1>
        <p>TranslateSRT surgió como respuesta a una necesidad identificada durante el curso CS50's Introduction to Computer Science, ofrecido por la plataforma edX. Observamos una carencia de contenido en idiomas distintos al inglés, lo que nos llevó a concebir la idea de traducir los archivos de subtítulos de los videos del curso. Nuestra misión es proporcionar una experiencia educativa más inclusiva y accesible al ofrecer subtítulos en diversos idiomas, permitiendo así que una audiencia más amplia pueda beneficiarse del contenido del curso.</p>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">TRADUCIR TEXTO</h5>
            <p class="card-text">Traduce texto de manera facil y rápida!</p>
            <a href="/traducirtxt" class="btn btn-primary">Traducir</a>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">TRADUCIR ARCHIVOS .SRT</h5>
            <p class="card-text">Traduce archivos .srt en el idioma que quieras!</p>
            <a href="/traducir" class="btn btn-primary">Traducir</a>
            </div>
        </div>
        </div>
    </div>

{% endblock %}
