{% extends "layout.html" %}

{% block main %}
    <h1 class="title-from-page">Traductor</h1>
    <p class="p-from-page">Traduce texto de manera facil y rápida</p>
    <form method="POST" action="/traducirtxt" enctype="multipart/form-data">
        <textarea class="textarea-from-page" name="text" rows="10" cols="50" placeholder="Ingresa texto a traducir"></textarea>
        <label class="label-from-page" for="idioma">Traducir a:</label>
        <select class="select-from-page" name="idioma" id="idioma">
            
            <option value="ar">Árabe</option>
            <option value="bn">Bengalí</option>
            <option value="bg">Búlgaro</option>
            <option value="cs">Checo</option>
            <option value="da">Danés</option>
            <option value="de">Alemán</option>
            <option value="el">Griego</option>
            <option value="en">English</option>
            <option value="es">Español</option>
            <option value="fa">Persa</option>
            <option value="fi">Finlandés</option>
            <option value="fr">Francés</option>
            <option value="he">Hebreo</option>
            <option value="hi">Hindi</option>
            <option value="hu">Húngaro</option>
            <option value="id">Indonesio</option>
            <option value="it">Italiano</option>
            <option value="ja">Japonés</option>
            <option value="ko">Coreano</option>
            <option value="lt">Lituano</option>
            <option value="nl">Holandés</option>
            <option value="no">Noruego</option>
            <option value="pl">Polaco</option>
            <option value="pt">Portugués</option>
            <option value="ro">Rumano</option>
            <option value="ru">Ruso</option>
            <option value="sk">Eslovaco</option>
            <option value="sl">Esloveno</option>
            <option value="sv">Sueco</option>
            <option value="sw">Suajili</option>
            <option value="ta">Tamil</option>
            <option value="th">Tailandés</option>
            <option value="tr">Turco</option>
            <option value="ur">Urdu</option>
            <option value="vi">Vietnamita</option>
            <option value="zh-tw">Chino Mandarín</option>

        </select>
        <input class="input-from-page" type="submit" value="Traducir">
    </form>

    {% if traduccion %}
        <h2>Texto traducido:</h2>
        <p>{{ traduccion }}</p>
    {% endif %}
{% endblock %}